node_modules/
.DS_Store
.idea/
.vscode/
*.iml
.project
.svn
npm-debug.log
server/session.js
public/index.min.*

# bem
.bem/cache/
.enb/tmp/
*bundles*/*/*.*
!*bundles*/*/*.bemdecl.js
*bundles*/*/*.bemhtml.bemdecl.js
!*bundles*/.bem/*
